<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        {% for produto in produtos %}
          <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.preco }}</td>
            <td>
              <a href="{% url 'erp:atualiza_produto' pk=produto.id %}">Atualiza</a>
              <a href="{% url 'erp:detalhe_produto' pk=produto.id %}">Detalhe</a>
              <a href="{% url 'erp:apaga_produto' pk=produto.id %}">Apaga</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
