<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista</title>
</head>
<body>
<h1>Funcionários</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Remuneração</th>
    </tr>
    </thead>
    <tbody>
    {% for funcionario in funcionarios %}
    <tr>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.sobrenome }}</td>
        <td>{{ funcionario.cpf }}</td>
        <td>{{ funcionario.email_corporativo }}</td>
        <td>{{ funcionario.remuneracao }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>